{% extends "rps/home.html" %}

{% block show %}
<br><br><br>
<div align="center">
    <form action="download" method="post">
        {% csrf_token %}
        <h5>Your file is ready to download!!</h5>
        <h3>{{heading}}</h3>
        <button type="submit" name="button" class="btn btn-primary mx-2">Download File</button>
    </form>
</div>
{% if not user.is_authenticated %}
<br><br>
<div align="center">
    <h3>Login to join our discussion forum</h3>
</div>
{% endif %}
{% endblock %}
